body {
  text-align: center;
}

.mapContainer {
  display: inline-block;
}

.map {
  margin: 10px;
  display: inline-block;
}

.col {
  display: inline-block;
  background: whitesmoke;
  width: 10px;
  height: 10px;
}

.wall {
  background: black;
}

.walked {
  background: red;
}

#controls-container {
  text-align: center;
}
